__pycache__/
**/__pycache__/

.idea/
.venv/
cache/

lib/Contest-List-Renderer/
lib/Duel/
lib/Pick-One/**
!lib/Pick-One/
!lib/Pick-One/config_example.json

test/output/**
!test/output/

**.log
**.log.**

config.json
robot.py.lock

.git_pull_indep_status
