[submodule "lib/How-To-Cook/lib/HowToCook"]
	path = lib/How-To-Cook/lib/HowToCook
	url = https://github.com/Anduin2017/HowToCook.git
[submodule "lib/Peeper-Board-Generator"]
	path = lib/Peeper-Board-Generator
	url = https://github.com/qwedc001/Peeper-Board-Generator.git
[submodule "lib/Huo-Zi-Yin-Shua"]
	path = lib/Huo-Zi-Yin-Shua
	url = https://github.com/DSP-8192/HuoZiYinShua.git
[submodule "lib/OIerDb"]
	path = lib/OIerDb
	url = https://github.com/coperlm/oierdb.git
